
body{
  background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0; line-height: normal;
}


.bigdiv_login{
  display: flex;
}

.div1_login{
  background-color: white;
  float: left;
  margin-top: 8em;
  margin-bottom: 5em;
  width: 65%;
  height: 40em;
  margin-left: -10em;
  border-radius: 15%;
}
.div2_login{
  float: right;
  color: white;
  text-align: center;
  margin-right: 10em;
  margin-top: 5%;
}
.img_logo{
  margin-left: 30em;
  width: 40em;
  margin-top: -2em;
}
.h2_login{
  font-size: 85px;
  font-family:serif;
  font-weight: bolder;
}
.p_login{
margin-top: -5em;
letter-spacing: 9px;
}
.div3_login{
margin-top: 5em;
margin-bottom: 3em;
width: 15em;
margin-left: 6em;
}
.h1_login{
  font-size: 55px;
  margin-bottom: -2px;
  font-family:FreeMono, monospace;
}
.p2_login{
font-size: 20px;
color: rgb(241, 96, 96);
letter-spacing: 2px;
margin-top: -2px;
}
.input_login{
width: 80%;
margin-top: 1em;
height: 3.5em;

border: 5px solid black;
}
.flex_login{
margin-left: 35%;
margin-top: 2em;
}
.button_login{
  background-color: rgb(222, 63, 63);
  width: 10em;
  height: 3.5em;
  color: white;
}
.div_2colla{
  float: right;
  width: 80%;
  color: white;
  margin-top: 5em;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
.h2_1colla{
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
}
.div_3colla{
  display: flex;
}
.div_4colla{
  background-color: white;
  color: red;
  height: 2em;
  width: 14em;
  padding: 0.5em;
  border-radius: 15px;
  margin-right: 2em;
}
.drop1_colla{
  cursor: pointer;
}
.p1_colla{
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;;
  margin-top: -1px;  
}

.icon_colla0{
  margin-left: 3em;
  margin-bottom: 1em;
  width: 200px;
  height: 50px;
  color: red;
  background-color: white;
  font-weight: bold;
  border-radius: 15px;
}

.icon1_colla{
  margin-left: 4em;
  margin-bottom: 1em;
}
.input1_colla{
  height: 3.4em;
  border-radius: 15px;
  width: 20em;
  color: black;
}
.input1_colla::placeholder{
  color: red;
  font-weight: 600;
}
.btn1_colla{
  position: absolute;
  right: 45%;
  top: 26.5%;
  background-color: red;
}
.table_colla{
  width: 100%;
  margin-top: 1em;
}
.td1_colla{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding-left: 0.5em;
}
.hr-row hr {
  border-color: rgb(219, 148, 120);
}
.vertical_colla{
  writing-mode: vertical-rl;  
  color: whitesmoke;
}
.td2_colla{
  padding-left: 1em;
  font-size: 20px;
  width:10em ;
  height: 3em;
  text-transform: capitalize;
}
.icon2_colla{
  font-size: 25px;
  margin-right: 1em;
  cursor: pointer;
}
.icon3_colla{
  font-size: 25px;
  color: brown;
  cursor: pointer;
}
.side-bar-content {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.side-bar {
  position: absolute;
  top: 150px;
  left: 0px;
  border-radius: 15px;
  background-color: #262626;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  z-index: 0;
}
.icons {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 20px;
  height: 20px;
}
.group-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dashboard1 {
  margin: 0;
  position: relative;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: Roboto;
  color: #fff;
  text-align: left;
}
.dashboard {
  cursor: pointer;
  border: none;
  padding: 10px;
  background-color: #c91416;
  align-self: stretch;
  border-radius: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 10px;
  margin-top: 1em;
}
.div1_sidebar{
  display: flex;
}
.show_sidebar{
  margin-left: -24em;
}

.footer_colla{
position: absolute;
 }
 .searchBox-region {
  position: absolute;
  top: 130px;
  left: 210px;
  transform:  translate(-40%,50%);
  background: #d5d5da;
  height: 20px;
  border-radius: 40px;
  padding: 10px;

}

.searchBox-region:hover > .searchButton-region {
  border:1px;
  border-color:white;
  background-color: rgb(205, 15, 15);
}

.searchButton-region {
  color: rgb(12, 11, 11);
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f22c05;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput-region {
  border:none;
  background: none;
  outline:none;
  float:left;
  color: rgb(16, 13, 13);
  font-size: 16px;
  transition: 0.4s;
  line-height: 20px;
  width: 200px;
  padding: 0 4px;

}

@media screen and (max-width: 620px) {
.searchBox-region:hover > .searchInput-region {
  width: 150px;
  background-color: white;
  cursor: pointer;
}
}
/**/
.super-container-region {
  margin-left: 100px;
  margin-top: 20px;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack:start !important;
  justify-content: start !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex:auto auto auto;
  height: 50%;
  flex-wrap: wrap;
  margin-right: 0px;
  
}

.btn-region {
  float: left;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: 1%;
  width: 300px;
  height: 100px;
  line-height: 60px;
  flex:auto auto ;
  border-radius: 30px;
}
.btn-1-region {
  
  background: #bebec0;
  border-radius: 3px solid #e9e9ec;
  -webkit-box-shadow: inset 0 -3px #d5d5da;
  box-shadow: inset 0 -3px #d5d5da;
  color:black
}
.btn-1-region:hover{
  background-color: white;
}

  .title-region {
    font-size: 2rem; 
    font-weight: bold; 
    color: black;
    margin-right:190px ;
  }
  .divv-region {
    display: flex; 
    align-items: center; 
    margin-left: 20px; 
  }
  .divvv-region {
    display: flex; 
    align-items: center; 
    margin-left: 20px; 
    margin-bottom: 50px;
    margin-top: 0px;
    height: 40px;
  }
  
  .minititle-region {
    color: red;
    font-size: 1rem; 
    margin-bottom: 5px;
  }
  
  .number-region {
    font-size: 2.7rem; 
    font-weight: bold; 
    color: rgb(7, 0, 0); 
    margin-left: 43px; 
    margin-bottom: 10px;
   
  }
  .icon-region{ color: red; size:lg }

  @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap'); 


html,
.profile_body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
}

             
              @import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

              .container {
                background-image: url("https://blogger.googleusercontent.com/img/a/AVvXsEg8mpJYDkh-cOq_hHSnNeKqfex-Cg3BJNn6-wliDEAVaKnATqcws2kJZ6dt7THwF8_rBg_kSC_MY47EyeIgIBcLMIR5fFZhnB_wUINovJvjHc6XPorB1QL6PI7zM3B0l8Kkt2IA24eup4c1b9v3LOr0BP20mWy-cZhQYZbvxuW_9ajdTrHft4cBfPV3kyg1");
                display: grid;
                grid-template-columns: 300px 300px 300px;
                grid-gap: 50px;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-color: #f5f5f5;
                font-family: 'Baloo Paaji 2', cursive;
                
              }
              
              .card {
                background-color: #020406;
                height: 42rem;
                width: 800px;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: rgba(0, 0, 0, 0.7);
                color: white;
                z-index: 2;
               margin-left: 30%;
               
              }
              

              .card__name {
                margin-top: 15px;
                font-size: 1.5em;
              }
              
              .card__image {
                height: 160px;
                width: 160px;
                border-radius: 50%;
                border: 5px solid #272133;
                margin-top: 10px;
                box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
              }
              
              
              .social-icons {
                padding: 0;
                list-style: none;
                margin: 1em;
              }
              
              .social-icons li {
                display: inline-block;
                margin: 0.15em;
                position: relative;
                font-size: 1em;
              }
              
              .social-icons i {
                color: #fff;
                position: absolute;
                top: 0.95em;
                left: 0.96em;
                transition: all 265ms ease-out;
              }
              
              .social-icons a {
                display: inline-block;
              }
              
              .social-icons a:before {
                transform: scale(1);
                -ms-transform: scale(1);
                -webkit-transform: scale(1);
                content: " ";
                width: 45px;
                height: 45px;
                border-radius: 100%;
                display: block;
                background: linear-gradient(45deg, #ff003c, #c648c8);
                transition: all 265ms ease-out;
              }
              
              .social-icons a:hover:before {
                transform: scale(0);
                transition: all 265ms ease-in;
              }
              
              .social-icons a:hover i {
                transform: scale(2.2);
                -ms-transform: scale(2.2);
                -webkit-transform: scale(2.2);
                color: #ff003c;
                background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 265ms ease-in;
              }
              
              .grid-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 50px;
                font-size: 1.2em;
              }
              
              .grid-child-followers{
                font-weight: bold;
                font-size: 30px;
                margin-top: 30px;
              }
              .grid-child-posts{
                font-size: 30px;
                margin-top: 30px;
              }
              .containerpopup{
                position: absolute;
                color: black;
                background-color: white;
                width:1000px;
                height: 550px;
                z-index: 999px;
                margin-top: 100px;
                margin-left: 20%;
                border: #a71c12 solid 10px;
                border-radius: 50px;
                text-align: center;
              }
              .buttonpopup{
                border: #a71c12 solid 4px;
                border-radius: 50px;
                width:60px;
                height: 40px;
                margin-left: 900px;
                margin-top: 20px;
                color:white;
                background-color: #a71c12;
               
              }
              .buttonpopup1{
                border: #a71c12 solid 4px;
                border-radius: 50px;
                width:80px;
                height: 50px;
                
                margin-top: 20px;
                color:white;
                background-color: #a71c12;
                text-align: center;
              }
              .h1popup{
                color: red;
                margin-top: -15px;
              }
              .inputpopup {
                border: #a71c12 solid 1px;
                border-radius: 50px;
                width:350px;
                height: 40px;
              }
              .inputpopup1 {
                border: #a71c12 solid 1px;
                border-radius: 20px;
                width:670px;
                height: 120px;
              }
              .div_popup{
                background-color: white;
                color: rgb(7, 2, 2);
                height: 2em;
                width: 14em;
                padding: 0.5em;
                border-radius: 15px;
                border: #a71c12 solid 1px;
                margin-right: 2em;
                cursor: pointer;
                margin-bottom: 450px;
              }
              .div_popup1{
                display: block;
                background-color: white;
                color: rgb(7, 2, 2);
                height: 1.2em;
                width: 650px;
                padding: 0.5em;
                border-radius: 15px;
                border: #a71c12 solid 1px;
                cursor: pointer;
                margin-bottom: 50px;
                margin-left: 170px;
              }
              .contpopup{
                height: 800px;
                width: 1000px;
              }
             .divvpopup{
              display: flex;
              align-items: center;
              margin-left: 70px;
              margin-right: 70px;
              justify-content: space-between;
             }
             .bigdivpopup{
              background-color: rgba(243, 237, 237, 0.4);
              width: 50000px;
              height: 50000px;
              z-index: 999999px;
              margin-left: -50px;
             }
             .returnToDashboard{
              cursor: pointer;
              margin-left: -500px;
              margin-top: 20px;
              color: #c91416;
              font-size: large;
             }
             .commentprofile{
              font-size: 20px;
              margin-left: -10px;
             }
