.bigdiv_login{
  display: flex;
}

.div1_login{
  background-color: white;
  float: left;
  margin-top: 8em;
  margin-bottom: 5em;
  width: 65%;
  height: 40em;
  margin-left: -10em;
  border-radius: 15%;
}
.div2_login{
  float: right;
  color: white;
  text-align: center;
  margin-right: 10em;
  margin-top: 5%;
}
.img_logo{
  margin-left: 30em;
  width: 40em;
  margin-top: -2em;
}
.h2_login{
  font-size: 85px;
  font-family:serif;
  font-weight: bolder;
}
.p_login{
margin-top: -5em;
letter-spacing: 9px;
}
.div3_login{
margin-top: 5em;
margin-bottom: 3em;
width: 15em;
margin-left: 6em;
}
.h1_login{
  font-size: 55px;
  margin-bottom: -2px;
  font-family:FreeMono, monospace;
}
.p2_login{
font-size: 20px;
color: rgb(241, 96, 96);
letter-spacing: 2px;
margin-top: -2px;
}
.input_login{
width: 80%;
margin-top: 1em;
height: 3.5em;
border: 5px solid black;
}
.flex_login{
margin-left: 35%;
margin-top: 2em;
}
.button_login{
  background-color: rgb(222, 63, 63);
  width: 10em;
  height: 3.5em;
  color: white;
}
