
body{
  background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0; line-height: normal;
}


.bigdiv_login{
  display: flex;
}

.div1_login{
  background-color: white;
  float: left;
  margin-top: 8em;
  margin-bottom: 5em;
  width: 65%;
  height: 40em;
  margin-left: -10em;
  border-radius: 15%;
}
.div2_login{
  float: right;
  color: white;
  text-align: center;
  margin-right: 10em;
  margin-top: 5%;
}
.img_logo{
  margin-left: 30em;
  width: 40em;
  margin-top: -2em;
}
.h2_login{
  font-size: 85px;
  font-family:serif;
  font-weight: bolder;
}
.p_login{
margin-top: -5em;
letter-spacing: 9px;
}
.div3_login{
margin-top: 5em;
margin-bottom: 3em;
width: 15em;
margin-left: 6em;
}
.h1_login{
  font-size: 55px;
  margin-bottom: -2px;
  font-family:FreeMono, monospace;
}
.p2_login{
font-size: 20px;
color: rgb(241, 96, 96);
letter-spacing: 2px;
margin-top: -2px;
}
.input_login{
width: 80%;
margin-top: 1em;
height: 3.5em;

border: 5px solid black;
}
.flex_login{
margin-left: 35%;
margin-top: 2em;
}
.button_login{
  background-color: rgb(222, 63, 63);
  width: 10em;
  height: 3.5em;
  color: white;
}
.div_2colla{
  float: right;
  width: 80%;
  color: white;
  margin-top: 5em;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
.h2_1colla{
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
}
.div_3colla{
  display: flex;
}
.div_4colla{
  background-color: white;
  color: red;
  height: 2em;
  width: 14em;
  padding: 0.5em;
  border-radius: 15px;
  margin-right: 2em;
}
.drop1_colla{
  cursor: pointer;
}
.p1_colla{
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;;
  margin-top: -1px;  
}
.icon1_colla{
  margin-left: 4em;
  margin-bottom: 1em;
}
.input1_colla{
  height: 3.4em;
  border-radius: 15px;
  width: 20em;
  color: black;
}
.input1_colla::placeholder{
  color: red;
  font-weight: 600;
}
.btn1_colla{
  position: absolute;
  right: 44.5%;
  top: 28.2%;
  background-color: red;
}
.table_colla{
  width: 100%;
  margin-top: 1em;
}
.td1_colla{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding-left: 0.5em;
}
.hr-row hr {
  border-color: rgb(219, 148, 120);
}
.vertical_colla{
  writing-mode: vertical-rl;  
  color: whitesmoke;
}
.td2_colla{
  padding-left: 1em;
  font-size: 20px;
  width:10em ;
  height: 3em;
  text-transform: capitalize;
}
.icon2_colla{
  font-size: 25px;
  margin-right: 1em;
  cursor: pointer;
}
.icon3_colla{
  font-size: 25px;
  color: brown;
  cursor: pointer;
}
.side-bar-content {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.side-bar {
  position: absolute;
  top: 150px;
  left: 0px;
  border-radius: 15px;
  background-color: #262626;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.icons {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 20px;
  height: 20px;
}
.group-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dashboard1 {
  margin: 0;
  position: relative;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: Roboto;
  color: #fff;
  text-align: left;
}
.dashboard {
  cursor: pointer;
  border: none;
  padding: 10px;
  background-color: #c91416;
  align-self: stretch;
  border-radius: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 10px;
  margin-top: 1em;
}
.div1_sidebar{
  display: flex;
}
.show_sidebar{
  margin-left: 2em;
}
.vertical_sidebar{
  position: fixed;
  font-size: 35px;
  left: 20%;
  top: 5%;
}
.footer_colla{
position: absolute;
 }
 .searchBox-region {
  position: absolute;
  top: 130px;
  left: 210px;
  transform:  translate(-40%,50%);
  background: #d5d5da;
  height: 20px;
  border-radius: 40px;
  padding: 10px;

}

.searchBox-region:hover > .searchButton-region {
  border:1px;
  border-color:white;
  background-color: rgb(205, 15, 15);
}

.searchButton-region {
  color: rgb(12, 11, 11);
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f22c05;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput-region {
  border:none;
  background: none;
  outline:none;
  float:left;
  color: rgb(16, 13, 13);
  font-size: 16px;
  transition: 0.4s;
  line-height: 20px;
  width: 200px;
  padding: 0 4px;

}

@media screen and (max-width: 620px) {
.searchBox-region:hover > .searchInput-region {
  width: 150px;
  background-color: white;
  cursor: pointer;
}
}
/**/
.super-container-region {
  margin-left: 100px;
  margin-top: 20px;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack:start !important;
  justify-content: start !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex:auto auto auto;
  height: 50%;
  flex-wrap: wrap;
  margin-right: 0px;
  
}

.btn-region {
  float: left;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: 1%;
  width: 300px;
  height: 100px;
  line-height: 60px;
  flex:auto auto ;
  border-radius: 30px;
}
.btn-1-region {
  
  background: #bebec0;
  border-radius: 3px solid #e9e9ec;
  -webkit-box-shadow: inset 0 -3px #d5d5da;
  box-shadow: inset 0 -3px #d5d5da;
  color:black
}
.btn-1-region:hover{
  background-color: white;
}

  .title-region {
    font-size: 2rem; 
    font-weight: bold; 
    color: black;
    margin-right:190px ;
  }
  .divv-region {
    display: flex; 
    align-items: center; 
    margin-left: 20px; 
  }
  .divvv-region {
    display: flex; 
    align-items: center; 
    margin-left: 20px; 
    margin-bottom: 50px;
    margin-top: 0px;
    height: 40px;
  }
  
  .minititle-region {
    color: red;
    font-size: 1rem; 
    margin-bottom: 5px;
  }
  
  .number-region {
    font-size: 2.7rem; 
    font-weight: bold; 
    color: rgb(7, 0, 0); 
    margin-left: 43px; 
    margin-bottom: 10px;
   
  }
  .icon-region{ color: red; size:lg }

  @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap'); 


html,
.profile_body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
}

@mixin centerView {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.profile_wrapper {
    width: 100%;
    height: 100vh;
    position: relative;}
   
.divprofile0{
  display: flex;
  text-align: center
}

  .profile_profileWidget{
        @include centerView();
        width: 600px;
        height: auto;
        min-height:600px;
        background: #F43048;
        text-align: center;
        color: #fff;
        box-shadow: 0px 2px 10px #00000024;
        margin-top: 70px;
        margin-left:470px;
        z-index: 20px;
      }
          h4{
            color: #fff;
            margin: 0;
            padding: 18px 0;
            text-transform: uppercase;
          }
          .profile_profileBanner{
            width: 100%;
            height: 260px;
           background-color: white;
            background-size: cover;
            background-position: 50% 16%;
            position: relative;
            clip-path: circle(67% at 50% 8%);
            box-shadow: inset 2px -57px 75px 19px rgba(0, 0, 0, 0.5803921568627451);
            .profile_profileThumb{
                border-radius: 50%;
                width: 100px;
                height: 100px;
                overflow: hidden;
                border: 4px solid #fff;
                position: absolute;
                bottom: 27px;
                z-index: 9999;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                  img{
              width: 100%;
                  }
              }
          }
          h5{
           
    margin-top: 0px;
    font-size: 22px;
    position: relative;
            &:after{
                position: absolute;
                content: "";
                width: 12%;
                height: 2px;
                background: #fff;
                bottom: -15px;
                left: 50%;
                transform: translateX(-50%);
            }
          }
          .profile_p{
            margin-top: 25px;
            margin-bottom: 30px;
          }

          .profile_ul{
            list-style: none;
            margin: 0;
            padding: 0;}
            .profile_li{
                display: inline-block;
                width: 50%;
                background: #fff;
                border-right: 4px dotted #000;
                padding: 15px 0px;
                &:nth-child(2){
                    border-right: 0 none;
                }
                  .profile_h4{
                    color: #000;
                    padding: 0;
                  }
                  .span{
                    color: rgb(87, 87, 87);
                  }
              }

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html_alertsend {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button_alertsend {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #d4d0ce;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container_alertsend {
  border: solid 3px #d4d0ce;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
  left: 600px;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #d4d0ce;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline_alertsend {
  border-bottom: solid 2px #d4d0ce;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper_alertsend {
  margin: 50px auto 0;
  width: 100%;
}

.icon_alertsend {
  display: block;
  fill: #d4d0ce;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email_alertsend {
	float: right;
	width: 45%;
}

.input_alertsend[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #d4d0ce;
	color: #0b0a0a;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.input_alertsend[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
  color:#F2F3EB;
}

.message_alertsend {
	float: none;color:#F2F3EB;
}

.name_alertsend {
	float: left;
	width: 45%;
  color:#F2F3EB;
}

.select_alertsend {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select_alertsend::-ms-expand {
  display: none;
  color:#F2F3EB;
}

.subject_alertsend {
  width: 100%;
  color:#F2F3EB;
}

.telephone_alertsend {
  width: 100%;
  color:#F2F3EB;
}

textarea._alertsend {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #d4d0ce;
}

:-moz-placeholder { 
	color: #d4d0ce;
	opacity: 1;
}

::-moz-placeholder {
	color: #d4d0ce;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #d4d0ce;
}

#form_button_alertsend {
  background: none;
  border: solid 2px #d4d0ce;
  color: #d4d0ce;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button_alertsend:hover {
  background: #d4d0ce;
  color: #F2F3EB;
}

.subject_input_alertsend{color:#F2F3EB;}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline_alertsend {
    width: 68px;
  }
  
  #form_button_alertsend {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  .h1_alertsend {
    font-size: 18px;
  }
  
  .icon_alertsend {
    height: 35px;
    width: 35px;
  }
  
  .underline_alertsend {
    width: 53px;
  }
  
  .input_alertsend[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}
          

        

      



